*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
   
}

.overallR{
    width:100%;
    min-height:100dvh;
    background:#121c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    position: relative;
}

.overallR  #yh2R{
    position: absolute;
    text-align: center;
    font-size:2em;
    color:antiquewhite;
    margin-bottom:12px;
    top:25px;
    left:425px;
}

.overallR  #yh2R .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallR .regboxR{
    background:#182232;
    width:550px;
    padding:25px;
    border-radius: 10px;
}

.overallR .regboxR .formboxR{
    height:400px;
    position:relative;
    padding:10px;
    margin-bottom:5px;
}

.overallR .regboxR #ch2R{
    position:absolute;
    font-size:1.7em;
    color:antiquewhite;
    margin-bottom:25px;
    font-weight: 300;
    left:17px;
    top:13px;
}

.overallR .regboxR .formboxR .formbox1R{
    padding:5px;
    position:relative;
    margin-bottom:30px;
    margin-top:90px;
}

.overallR .regboxR .formboxR .formbox2R{
    padding:5px;
    position:relative;
    
}

.overallR .regboxR .formboxR input{
    width:100%;
    padding:5px 30px;
    background:#242f40;
    margin-bottom:12px;
    border-radius:4px;
    border:2px solid white;
    outline:none;
    font-size:2.1em;
    color:white;
}

.overallR .regboxR .formboxR input:focus{
    color:#66ff00;
    border:2px solid #66ff00;
}


.overallR .regboxR .formboxR label{
    position:absolute;
    font-size:1.1em;
    top:-27px;
    left:7px;
    color:#747577; 
    transition:0.2s ease;
}

.overallR .regboxR .formboxR #buttonsR{
    margin-top:15px;
    width:100%;
    padding:5px;
    background:#242f40;
    border-radius:4px;
    font-size:1.4em;
    margin-bottom:10px;
}

.overallR .regboxR .formboxR #buttonsR:hover{
    background:#182232;
    color:black;
}

.overallR .regboxR .formboxR #buttonsR a{
    text-decoration: none;
    color:rgb(33, 233, 33);
}

.overallR .regboxR .formboxR #buttonsR a:hover{
    background:#182232;
    color:black;
}

.overallR .regboxR .formboxR #regh2R{
    margin-bottom: 10px;
    width:100%;
    text-align: center;
    border-bottom: 1px solid #747577;
    line-height: 0.1em;
    margin:20px 0 20px;
}

.overallR .regboxR .formboxR #regh2R span{
    padding:0 10px;
    background:#182232;
    font-size:20px;
    color:#747577;
}

.overallR .regboxR .buttonR{
    position:relative;
    padding:10px;
    margin-bottom:10px;
}

.overallR .regboxR .buttonR  #buttongR{
    width:100%;
    padding:5px 30px;
    margin-bottom: 10px;
    background:#242f40;
    border-radius: 4px;
}

.overallR .regboxR .buttonR  #buttongR a{
    text-decoration: none;
    font-size:19px;
    color:antiquewhite;
}

.overallR .regboxR .buttonR  #buttongR a .fa-brands.fa-google{
    color:antiquewhite;
    margin-right: 5px;
}

.overallR .regboxR .buttonR  #buttonlR{
    width:100%;
    padding:5px 30px;
    margin-bottom: 5px;
    background:#242f40;
    border-radius: 4px;
}

.overallR .regboxR .buttonR  #buttonlR a{
    text-decoration: none;
    font-size:19px;
    color:antiquewhite;
}

.overallR .regboxR .buttonR  #buttonlR a .fa-brands.fa-linkedin{
    color:antiquewhite;
    margin-right: 5px;
}
