*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
   
}

.overallR{
    width:100%;
    min-height:100dvh;
    background:#121c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    position: relative;
}

.overallR .regboxR{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallR .regboxR .topR{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallR .regboxR .topR #yh2R{
    position: absolute;
    top:-100px;
    left:-29px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallR .regboxR .topR #yh2R .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallR .regboxR #ch2R{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallR .regboxR .formboxR{
    padding:15px;
    position:relative;
    margin-top:20px;
    margin-bottom: 5px;
}

.overallR .regboxR .formboxR input{
    width:100%;
    padding:5px 30px;
    background:#242f40;
    margin-bottom:12px;
    border-radius:4px;
    border:none;
    outline:none;
    font-size:1.5em;
    color:white;
    margin-top: 10px;
}

.overallR .regboxR .formboxR input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}

.overallR .regboxR .formboxR label{
    font-size: 17px;
    font-weight: 500;
    color:#747577; 
    transition:0.2s ease;
}

.overallR .regboxR .formboxR #buttonsR{
    width: 100%;
    padding:8px 30px;
    margin-top: 20px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
    margin-bottom: 20px;
}

.overallR .regboxR .formboxR #buttonsR:hover{
    box-shadow:9px 9px 9px #1d1e26 inset,
    -7px 7px 7px #242f40 inset;
    color: #66ff00;
}

.overallR .regboxR .formboxR #regh2R{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #747577;
    line-height: 0.1em;
    margin:20px 0 20px;
}

.overallR .regboxR .formboxR #regh2R span{
    padding:0 10px;
    background:#182232;
    font-size:20px;
    color:#747577;
}

.overallR .regboxR .buttonR{
    position:relative;
    padding:10px;
    margin-bottom:10px;
}

.overallR .regboxR .buttonR  #buttongR{
    width:100%;
    padding:8px 30px;
    margin-bottom: 10px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallR .regboxR .buttonR  #buttongR:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallR .regboxR .buttonR  #buttongR .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 5px;
}

.overallR .regboxR .buttonR  #buttonlR{
    width:100%;
    padding:8px 30px;
    margin-bottom: 5px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallR .regboxR .buttonR  #buttonlR:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallR .regboxR .buttonR  #buttonlR .fa-brands.fa-linkedin{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 3px;
    font-size: 25px;
}

.overallR .regboxR #pR{
    margin-top: 10px;
    padding:10px;
    color:#747577;
}

.overallR .regboxR #pR a{
    text-decoration: none;
    color:#66ff00;
}

.overallR .regboxR #pR a:hover{
    text-decoration: underline;
}

.overallR .regboxR #pR a .fa-solid.fa-arrow-right{
    color:#66ff00;
}

/* end of registration.html*/

/* Beginning of Login.html*/

.overallT{
    width: 100%;
    min-height:100dvh;
    background-color:#121c2b;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.overallT .loginboxT{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallT .loginboxT .topT{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallT .loginboxT .topT #yh2T{
    position: absolute;
    top:-90px;
    left:-19px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .topT #yh2T .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallT .loginboxT .topT #ch2T{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .formboxT{
    padding:15px;
    margin-bottom: 20px;
}

.overallT .loginboxT .formboxT .formboxovT{
    position: relative;
}

.overallT .loginboxT .formboxT .formboxovT input{
    width:100%;
    margin-bottom: 20px;
    padding:8px 30px;
    background:#242f40;
    border:none;
    border-radius:4px;
    color: antiquewhite;
    font-size: 19px;
    margin-top: 10px;
    outline: none;
}

.overallT .loginboxT .formboxT .formboxovT input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}
    
.overallT .loginboxT .formboxT .formboxovT label{
    color:#747577;
    font-size: 17px;
    font-weight: 500;
}
 
.overallT .loginboxT .formboxT .checkboxT{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 10px;
}

.overallT .loginboxT .formboxT .checkboxT #checkboxlT{
    font-size: 17px;
    color:#747577;
    margin-left: 4px;
}

.overallT .loginboxT .formboxT .checkboxT input{
    accent-color:#66ff00;
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
}

.overallT .loginboxT .formboxT .checkboxT a{
    text-decoration: none;
    font-size: 17px;
    color:#747577;
}

.overallT .loginboxT .formboxT .checkboxT a:hover{
    color:#66ff00;
    text-decoration: underline;
}

.overallT .loginboxT .formboxT #submitbtnT{
    width: 100%;
    padding:8px 30px;
    margin-top: 10px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
}

.overallT .loginboxT .formboxT #submitbtnT:hover{
    box-shadow:9px 9px 9px #131419 inset,
    -7px 7px 7px #242f40 inset;
    color: limegreen;
}

.overallT .loginboxT .formboxT #regh2T{
    text-align: center;
    border-bottom: 1px solid #747577;
    margin-top: 40px;
    line-height: 0.1rem;
}

.overallT .loginboxT .formboxT #regh2T span{
    color: #747577;
    padding:0 15px;
    background:#182232;
    font-size: 17px;
}

.overallT .loginboxT .buttonT{
    padding: 15px;
}

.overallT .loginboxT .buttonT #button1T{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    outline:1px solid #8799b5;
    border: none;
    transition: .2s;
}

.overallT .loginboxT .buttonT #button1T:hover{
    background: #343b4d;
    color:#66ff00;   
}

.overallT .loginboxT .buttonT #button1T .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .buttonT #button2T{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border: none;
    outline:1px solid #8799b5;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallT .loginboxT .buttonT #button2T:hover{
    background: #343b4d;
    color:#66ff00; 
}

.overallT .loginboxT .buttonT #button2T .fa-brands.fa-linkedin{
    font-size: 21px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT #pT{
    padding: 15px;
    color:#747577;
    font-size: 17px;
    font-weight: 300;
}

.overallT .loginboxT #pT a{
    text-decoration: none;
    color: #66ff00;
    font-size: 17px;
}

.overallT .loginboxT #pT a:hover{
    text-decoration: underline;
}