*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
   
}

.overallR{
    width:100%;
    min-height:100dvh;
    background:#121c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    position: relative;
}

.overallR .regboxR{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallR .regboxR .topR{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallR .regboxR .topR #yh2R{
    position: absolute;
    top:-100px;
    left:-29px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallR .regboxR .topR #yh2R .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallR .regboxR #ch2R{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallR .regboxR .formboxR{
    padding:15px;
    position:relative;
    margin-top:20px;
    margin-bottom: 5px;
}

.overallR .regboxR .formboxR input{
    width:100%;
    padding:5px 30px;
    background:#242f40;
    margin-bottom:12px;
    border-radius:4px;
    border:none;
    outline:none;
    font-size:1.5em;
    color:white;
    margin-top: 10px;
}

.overallR .regboxR .formboxR input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}

.overallR .regboxR .formboxR label{
    font-size: 17px;
    font-weight: 500;
    color:#747577; 
    transition:0.2s ease;
}

.overallR .regboxR .formboxR #buttonsR{
    width: 100%;
    padding:8px 30px;
    margin-top: 20px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
    margin-bottom: 20px;
}

.overallR .regboxR .formboxR #buttonsR:hover{
    box-shadow:9px 9px 9px #1d1e26 inset,
    -7px 7px 7px #242f40 inset;
    color: #66ff00;
}

.overallR .regboxR .formboxR #regh2R{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #747577;
    line-height: 0.1em;
    margin:20px 0 20px;
}

.overallR .regboxR .formboxR #regh2R span{
    padding:0 10px;
    background:#182232;
    font-size:20px;
    color:#747577;
}

.overallR .regboxR .buttonR{
    position:relative;
    padding:10px;
    margin-bottom:10px;
}

.overallR .regboxR .buttonR  #buttongR{
    width:100%;
    padding:8px 30px;
    margin-bottom: 10px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallR .regboxR .buttonR  #buttongR:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallR .regboxR .buttonR  #buttongR .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 5px;
}

.overallR .regboxR .buttonR  #buttonlR{
    width:100%;
    padding:8px 30px;
    margin-bottom: 5px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallR .regboxR .buttonR  #buttonlR:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallR .regboxR .buttonR  #buttonlR .fa-brands.fa-linkedin{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 3px;
    font-size: 25px;
}

.overallR .regboxR #pR{
    margin-top: 10px;
    padding:10px;
    color:#747577;
}

.overallR .regboxR #pR a{
    text-decoration: none;
    color:#66ff00;
}

.overallR .regboxR #pR a:hover{
    text-decoration: underline;
}

.overallR .regboxR #pR a .fa-solid.fa-arrow-right{
    color:#66ff00;
}

/* end of registration.html*/

/* Beginning of Login.html*/

.overallT{
    width: 100%;
    min-height:100dvh;
    background-color:#121c2b;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.overallT .loginboxT{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallT .loginboxT .topT{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallT .loginboxT .topT #yh2T{
    position: absolute;
    top:-90px;
    left:-19px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .topT #yh2T .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallT .loginboxT .topT #ch2T{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .formboxT{
    padding:15px;
    margin-bottom: 20px;
}

.overallT .loginboxT .formboxT .formboxovT{
    position: relative;
}

.overallT .loginboxT .formboxT .formboxovT input{
    width:100%;
    margin-bottom: 20px;
    padding:8px 30px;
    background:#242f40;
    border:none;
    border-radius:4px;
    color: antiquewhite;
    font-size: 19px;
    margin-top: 10px;
    outline: none;
}

.overallT .loginboxT .formboxT .formboxovT input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}
    
.overallT .loginboxT .formboxT .formboxovT label{
    color:#747577;
    font-size: 17px;
    font-weight: 500;
}
 
.overallT .loginboxT .formboxT .checkboxT{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 10px;
}

.overallT .loginboxT .formboxT .checkboxT #checkboxlT{
    font-size: 17px;
    color:#747577;
    margin-left: 4px;
}

.overallT .loginboxT .formboxT .checkboxT input{
    accent-color:#66ff00;
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
}

.overallT .loginboxT .formboxT .checkboxT a{
    text-decoration: none;
    font-size: 17px;
    color:#747577;
}

.overallT .loginboxT .formboxT .checkboxT a:hover{
    color:#66ff00;
    text-decoration: underline;
}

.overallT .loginboxT .formboxT #submitbtnT{
    width: 100%;
    padding:8px 30px;
    margin-top: 10px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
}

.overallT .loginboxT .formboxT #submitbtnT:hover{
    box-shadow:9px 9px 9px #131419 inset,
    -7px 7px 7px #242f40 inset;
    color: limegreen;
}

.overallT .loginboxT .formboxT #regh2T{
    text-align: center;
    border-bottom: 1px solid #747577;
    margin-top: 40px;
    line-height: 0.1rem;
}

.overallT .loginboxT .formboxT #regh2T span{
    color: #747577;
    padding:0 15px;
    background:#182232;
    font-size: 17px;
}

.overallT .loginboxT .buttonT{
    padding: 15px;
}

.overallT .loginboxT .buttonT #button1T{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    outline:1px solid #8799b5;
    border: none;
    transition: .2s;
}

.overallT .loginboxT .buttonT #button1T:hover{
    background: #343b4d;
    color:#66ff00;   
}

.overallT .loginboxT .buttonT #button1T .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT .buttonT #button2T{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border: none;
    outline:1px solid #8799b5;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallT .loginboxT .buttonT #button2T:hover{
    background: #343b4d;
    color:#66ff00; 
}

.overallT .loginboxT .buttonT #button2T .fa-brands.fa-linkedin{
    font-size: 21px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallT .loginboxT #pT{
    padding: 15px;
    color:#747577;
    font-size: 17px;
    font-weight: 300;
}

.overallT .loginboxT #pT a{
    text-decoration: none;
    color: #66ff00;
    font-size: 17px;
}

.overallT .loginboxT #pT a:hover{
    text-decoration: underline;
}

/*End of login html*/

/*Beginning of index.html*/

.overallF{
    background: #121c2b;
    width: 100%;
    min-height: 100dvh;
}

.overallF .navbarF{
    position: sticky;
    top:0;
    display:flex;
    width: 100%;
    height:60px;
    align-items: center;
    justify-content: space-between;
    background: #121c2b;
    z-index: 1000;
}

.overallF .navbarF .navbar1F .navbar1aF{
    margin-left: 65px;
    position: relative;
    overflow: hidden;
}

.overallF .navbarF .navbar1F .navbar1aF::before{
    content: '';
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:#121c2b;
    position:absolute;
    animation: showRight 2s ease forwards;
    animation-delay: .2s;
}

.overallF .navbarF .navbar1F .navbar1aF h2{
    font-size: 24px;
    font-weight: 600;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallF .navbarF .navbar1F .navbar1aF h2 .fa-solid.fa-futbol{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 5px;
}

.overallF .navbarF .navbar2F{
    margin-right: 15px;
    display: flex;
    gap: 25px;
    position: relative;
}

.overallF .navbarF .navbar2F::before{
    content: '';
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:#121c2b;
    position:absolute;
    animation: showRight 2s ease forwards;
    animation-delay: .10s;
}

.overallF .navbarF .navbar2F .offersF{
    background: #121c2b;
    display: flex;
    align-items: center;
    gap:39px;
}

.overallF .navbarF .navbar2F .offersF a{
    text-decoration: none;
    font-size: 18px;
    color:#8799b5;
    transition: .1s;
}

.overallF .navbarF .navbar2F .offersF a:hover{
    text-decoration: underline;
    color:#66ff00;
}

.overallF .navbarF .navbar2F .loginF{
    position: relative;
    width:340px;
    height:40px;
    background:transparent;
    display:flex;
    justify-content:space-between;
}

.overallF .navbarF .navbar2F .loginF a{
    background-color: #66ff00;
    padding:9px 13px;
    border: 1px solid #66ff00;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: relative;
    overflow:hidden;
    transition:.5s;
    z-index: 1;
}

.overallF .navbarF .navbar2F .loginF a:nth-child(1){
    background:#121c2b;
    color:#66ff00;
    border:1px solid #66ff00;
}

.overallF .navbarF .navbar2F .loginF a:nth-child(2){
    background:#121c2b;
    color:#66ff00;
    border:1px solid #66ff00;
}

.overallF .navbarF .navbar2F .loginF::before{
    content: '';
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:#121c2b;
    position:absolute;
    animation: showRight 2s ease forwards;
    animation-delay: .10s;
}

.overallF .navbarF .navbar2F .loginF a:hover{
    color:black;
}

/* .overallF .navbarF .navbar2F .loginF a:nth-child(2):hover{
    color:#66ff00;
} */

.overallF .navbarF .navbar2F .loginF a:nth-child(3):hover{
    color:#66ff00;
}

.overallF .navbarF .navbar2F .loginF a::before{
    content: '';
    width:0;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index:-1; 
    transition:.5s;
    background: #66ff00;
}

/* .overallF .navbarF .navbar2F .loginF a:nth-child(2)::before{
    background: #121c2b;
} */

.overallF .navbarF .navbar2F .loginF a:nth-child(3)::before{
    background: #121c2b;
}

.overallF .navbarF .navbar2F .loginF a:hover::before{
    width: 100%;
}

/*end of navbar begginning of sectionF*/

.overallF .sectionF{
    width:100%;
    height:530px;
    position: relative;
    padding: 60px;
    margin-bottom: 5px;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
        );
}

.overallF .sectionF video{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: 1;
}

.overallF .sectionF .overlayf{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background:#252c2f;
    mix-blend-mode: overlay;
}

.overallF .sectionF .sectionF-text .sectionF-heading{
    position: relative;
    margin-bottom: 35px;
    z-index: 1;
}

.overallF .sectionF .sectionF-text .sectionF-heading h2{
    color:white;
    width:650px;
    font-size:3em;
}

.overallF .sectionF .sectionF-text .sectionF-p{
    position: relative;
    width:780px;
    margin-bottom: 45px;
    z-index: 1;
}

.overallF .sectionF .sectionF-text .sectionF-p p{
    font-size: 25px;
    color:white;
    font-weight: 500;
    line-height: 1.3em;
}

.overallF .sectionF .sectionF-btns{
    width:350px;
    height:50px;
    display:flex;
    justify-content:space-between;
    position:relative;
    margin-bottom: 20px;
}

/* .overallF .sectionF .sectionF-btns a{
    position:relative;
    border:1px solid #66ff00;
    border-radius:8px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:150px;
    height:100%;
    padding:10px;
    align-items:center;
    font-size:25px;
    font-weight:200;
    background:#66ff00;
    text-decoration:none;
    color:#081b29;
    align-content:center;
    z-index:1;
    overflow:hidden;
    transition:.5s;
} */

/* .overallF .sectionF .sectionF-btns a:hover{
    color:#66ff00;
} */

/* .overallF .sectionF .sectionF-btns a::before{
    content: '';
    width:0;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index:-1; 
    transition:.5s;
    background: #121c2b;
} */

/* .overallF .sectionF .sectionF-btns a:hover::before{
  width:100%;
} */

.overallF .sectionF .sectionF-end{
    width:590px;
    height:50px;
    position:relative;
    z-index: 1;
}

.overallF .sectionF .sectionF-end a button{
    padding: 7px 5px;
    margin-right: 11px;
    border: none;
    border-radius: 15px;
    background: #242f40;
    color: #66ff00;
    text-decoration: none;
    font-weight: 600;
}

.overallF .sectionF .sectionF-end a{
    border:1px solid #66ff00;
    border-radius:8px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:545px;
    height:100%;
    padding:10px;
    font-size:21px;
    font-weight:200;
    background:#121c2b;
    text-decoration:none;
    color:#8799b5;
    align-content:center;
}

.overallF .sectionF .sectionF-end a .fa-solid.fa-arrow-right{
    margin-left: 3px;
}

.overallF .sectionF .sectionF-end a:hover{
    color:#66ff00;
}

/*used for all the animations*/
@keyframes showRight{
    100%{
        width: 0;
    }
}

.wrapperF{
    width:90%; 
    max-width:1366px; 
    margin-inline: auto;
    position: relative;
    height:100px;
    margin-top: 3px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
        );
}

@keyframes scrollleft{
    to{
        left:-200px;
    }
}

.itemF{
    width:200px;
    height:100px;
    /* background: red; */
    border-radius: 6px;
    position:absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1F {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2F {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3F {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item4F {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5F {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6F {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item7F {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item8F {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overallF .sponsorF{
    width:100%;
    height:70px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overallF .sponsorF .sponsor-contentF{
    width:95%;
    display: flex;
    background:#182232;
    padding:14px 17px;
    border: none;
    border-radius: 10px;
    outline: 1px solid #343b4d;
}

.overallF .sponsorF .sponsor-contentF h4{
    font-size: 1.7em;
    font-weight: 800;
    margin-right: 40px;
    margin-left: 10px;
    color:white;
}

.overallF .sponsorF .sponsor-contentF p{
    font-size: 1.5em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallF .sponsorF .sponsor-contentF p .fa-solid.fa-arrow-right{
    margin-left: 70px;
}

.overallF .contactsF{
    width:100%;
    height:350px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.overallF .contactsF .iconsF{
    width: 30%;
    height:250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.overallF .contactsF .iconsF h3{
    text-align: center;
    font-size: 2em;
    color:#747577;
    margin-bottom: 15px;
}

.overallF .contactsF .iconsF .iconF{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.overallF .contactsF .iconsF .iconF a{
    position:relative;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background:rgb(34, 155, 155);
    color:rgb(244, 246, 248);
    border:2px solid aqua;
    border-radius:50%;
    font-size:20px;
    text-decoration:none;
    z-index:1;
    overflow:hidden;
    transition:.5s;
}

.overallF .contactsF .iconsF .iconF a::before{
    position:absolute;
    content:'';
    width:0;
    height:100%;
    background:#081b29;
    z-index:-1;
    transition:.5s;
}

.overallF .contactsF .iconsF .iconF a:hover{
    color:blue;
}

.overallF .contactsF .iconsF .iconF a:hover::before{
    width:100%;
}

.overallF .contactsF .iconsF .iconF a:nth-child(1){
    background:black;
}

.overallF .contactsF .quicklinksF{
    width: 30%;
    height:250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.overallF .contactsF .quicklinksF h3{
    text-align: center;
    font-size: 2em;
    color:#747577;
    margin-bottom: 15px;
}

.overallF .contactsF .quicklinksF a{
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 10px;
    color:white;
}

.overallF .contactsF .quicklinksF a:hover{
    text-decoration: underline;
    color: #66ff00;
}


/*end of index.html*/

/* start of Plogin.html*/

.overallPlo{
    width: 100%;
    min-height:100dvh;
    background: url(bluelock2a.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    object-fit:cover;
    background-position:center;
    background-attachment:scroll;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.overallPlo .loginboxPlo{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallPlo .loginboxPlo .topPlo{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallPlo .loginboxPlo .topPlo #yh2Plo{
    position: absolute;
    top:-90px;
    left:-19px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallPlo .loginboxPlo .topPlo #yh2Plo .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallPlo .loginboxPlo .topPlo #ch2Plo{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallPlo .loginboxPlo .formboxPlo{
    padding:15px;
    margin-bottom: 20px;
}

.overallPlo .loginboxPlo .formboxPlo .formboxovPlo{
    position: relative;
}

.overallPlo .loginboxPlo .formboxPlo .formboxovPlo input{
    width:100%;
    margin-bottom: 20px;
    padding:8px 30px;
    background:#242f40;
    border:none;
    border-radius:4px;
    color: antiquewhite;
    font-size: 19px;
    margin-top: 10px;
    outline: none;
}

.overallPlo .loginboxPlo .formboxPlo .formboxovPlo input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}
    
.overallPlo .loginboxPlo .formboxPlo .formboxovPlo label{
    color:#747577;
    font-size: 17px;
    font-weight: 500;
}
 
.overallPlo .loginboxPlo .formboxPlo .checkboxPlo{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 10px;
}

.overallPlo .loginboxPlo .formboxPlo .checkboxPlo #checkboxlPlo{
    font-size: 17px;
    color:#747577;
    margin-left: 4px;
}

.overallPlo .loginboxPlo .formboxPlo .checkboxPlo input{
    accent-color:#66ff00;
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
}

.overallPlo .loginboxPlo .formboxPlo .checkboxPlo a{
    text-decoration: none;
    font-size: 17px;
    color:#747577;
}

.overallPlo .loginboxPlo .formboxPlo .checkboxPlo a:hover{
    color:#66ff00;
    text-decoration: underline;
}

.overallPlo .loginboxPlo .formboxPlo #submitbtnPlo{
    width: 100%;
    padding:8px 30px;
    margin-top: 10px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
}

.overallPlo .loginboxPlo .formboxPlo #submitbtnPlo:hover{
    box-shadow:9px 9px 9px #131419 inset,
    -7px 7px 7px #242f40 inset;
    color: limegreen;
    cursor: pointer;
}

.overallPlo .loginboxPlo .formboxPlo #regh2Plo{
    text-align: center;
    border-bottom: 1px solid #747577;
    margin-top: 40px;
    line-height: 0.1rem;
}

.overallPlo .loginboxPlo .formboxPlo #regh2Plo span{
    color: #747577;
    padding:0 15px;
    background:#182232;
    font-size: 17px;
}

.overallPlo .loginboxPlo .buttonPlo{
    padding: 15px;
}

.overallPlo .loginboxPlo .buttonPlo #button1Plo{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    outline:1px solid #8799b5;
    border: none;
    transition: .2s;
}

.overallPlo .loginboxPlo .buttonPlo #button1Plo:hover{
    background: #343b4d;
    color:#66ff00;   
    cursor: pointer;
}

.overallPlo .loginboxPlo .buttonPlo #button1Plo .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallPlo .loginboxPlo .buttonPlo #button2Plo{
    width:100%;
    padding:8px 30px;
    background: #182232;
    border: none;
    outline:1px solid #8799b5;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallPlo .loginboxPlo .buttonPlo #button2Plo:hover{
    background: #343b4d;
    color:#66ff00; 
    cursor: pointer;
}

.overallPlo .loginboxPlo .buttonPlo #button2Plo .fa-brands.fa-linkedin{
    font-size: 21px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
}

.overallPlo .loginboxPlo #pPlo{
    padding: 15px;
    color:#747577;
    font-size: 17px;
    font-weight: 300;
}

.overallPlo .loginboxPlo #pPlo a{
    text-decoration: none;
    color: #66ff00;
    font-size: 17px;
}

.overallPlo .loginboxPlo #pPlo a:hover{
    text-decoration: underline;
}

/*end of Plogin.html*/

/*start of Pregistration.html*/

.overallRo{
    width:100%;
    min-height:100dvh;
    background:#121c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    position: relative;
}

.overallRo .regboxRo{
    background:#182232;
    width:600px;
    padding:25px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.overallRo .regboxRo .topRo{
    position:relative;
    margin-bottom: 20px;
    padding:15px;
}

.overallRo .regboxRo .topRo #yh2Ro{
    position: absolute;
    top:-100px;
    left:-29px;
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallRo .regboxRo .topRo #yh2Ro .fa-solid.fa-futbol{
    margin-right: 12px;
    color:rgb(33, 233, 33);
    font-size:1.2em;
}

.overallRo .regboxRo #ch2Ro{
    font-size:1.7em;
    background:linear-gradient(to right, #66ff00, blue);
    background-clip: text;
    color:transparent;
}

.overallRo .regboxRo .formboxRo{
    padding:15px;
    position:relative;
    margin-top:20px;
    margin-bottom: 5px;
}

.overallRo .regboxRo .formboxRo input{
    width:100%;
    padding:5px 30px;
    background:#242f40;
    margin-bottom:12px;
    border-radius:4px;
    border:none;
    outline:none;
    font-size:1.5em;
    color:white;
    margin-top: 10px;
}

.overallRo .regboxRo .formboxRo input:focus{
    color:#66ff00;
    border:1px solid #66ff00;
}

.overallRo .regboxRo .formboxRo label{
    font-size: 17px;
    font-weight: 500;
    color:#747577; 
    transition:0.2s ease;
}

.overallRo .regboxRo .formboxRo #buttonsRo{
    width: 100%;
    padding:8px 30px;
    margin-top: 20px;
    font-size: 19px;
    background:#242f40;
    border: none;
    color:#66ff00;
    margin-bottom: 20px;
}

.overallRo .regboxRo .formboxRo #buttonsRo:hover{
    box-shadow:9px 9px 9px #1d1e26 inset,
    -7px 7px 7px #242f40 inset;
    color: #66ff00;
}

.overallRo .regboxRo .formboxRo #regh2Ro{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #747577;
    line-height: 0.1em;
    margin:20px 0 20px;
}

.overallRo .regboxRo .formboxRo #regh2Ro span{
    padding:0 10px;
    background:#182232;
    font-size:20px;
    color:#747577;
}

.overallRo .regboxRo .buttonRo{
    position:relative;
    padding:10px;
    margin-bottom:10px;
}

.overallRo .regboxRo .buttonRo  #buttongRo{
    width:100%;
    padding:8px 30px;
    margin-bottom: 10px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallRo .regboxRo .buttonRo  #buttongRo:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallRo .regboxRo .buttonRo  #buttongRo .fa-brands.fa-google{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 5px;
}

.overallRo .regboxRo .buttonRo  #buttonlRo{
    width:100%;
    padding:8px 30px;
    margin-bottom: 5px;
    background:#182232;
    border-radius: 4px;
    outline:1px solid #8799b5;
    border: none;
    font-size: 19px;
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    transition: .2s;
}

.overallRo .regboxRo .buttonRo  #buttonlRo:hover{
    background: #343b4d;
    color:#66ff00;
}

.overallRo .regboxRo .buttonRo  #buttonlRo .fa-brands.fa-linkedin{
    background:linear-gradient(to right, #66ff00, aqua);
    background-clip: text;
    color:transparent;
    margin-right: 3px;
    font-size: 25px;
}

.overallRo .regboxRo #pRo{
    margin-top: 10px;
    padding:10px;
    color:#747577;
}

.overallRo .regboxRo #pRo a{
    text-decoration: none;
    color:#66ff00;
}

.overallRo .regboxRo #pRo a:hover{
    text-decoration: underline;
}

.overallRo .regboxRo #pRo a .fa-solid.fa-arrow-right{
    color:#66ff00;
}